body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Royal_Coat_of_Arms_of_the_United_Kingdom_%28Both_Realms%29.svg/1920px-Royal_Coat_of_Arms_of_the_United_Kingdom_%28Both_Realms%29.svg.png);
    background-size: auto auto;
    text-align: center;
}
div {
    font-style: oblique;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.6);
    margin-left: 30%; 
    margin-right: 30%;
    padding: 1%;
} 
img {
    border: 5px solid;
    border-color: cadetblue;
    border-radius: 45%;
 }
figcaption {
    border: 1px solid white;
    background-color: white;
    float: center;
    margin-left: 35%;
    margin-right: 35%;
}
.main {
    background-color: white;
    border: 3px solid;
    border-color: rgb(172, 164, 124);
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
.article {
    font-style: italic;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 1%;
    text-indent: 1.5em;
}
ul {
    background-color: white;
    padding: 0%;
}
h3 {
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
} 
.bordered {
    border: 3px solid;
    border-color: rgb(255, 217, 0);
    text-align: justify;
    padding: 2%;
    margin: 1%;
    text-indent: 1.5em;
    font-style: normal;
}
footer {
    background-color:  rgba(255, 255, 0, 0.8);
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    margin-top: 1%;
}
    